<!DOCTYPE html>
<html>
<head>
    <meta charset="big5">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover">
    <title>銀髮健康檢測平台</title>
    <script src="../plugins/vue/axios-0.18.0.js"></script>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vant@2.2/lib/index.css">


</head>
<style>
    body {
        color: #333;
        background-color: #f8f8f8;
    }
    p{
        margin-left: 10px;
    }
    sum{
        color: #3a8ee6;
    }
</style>
<body>
<div id="app">
    <van-nav-bar
            title="銀髮族健康監測-失智症收集"
            left-text="返回"
            @click-left="onClickLeft"
            left-arrow
    ></van-nav-bar>
    <van-cell v-bind:title="username" icon="manager-o" >來自{{organization}}</van-cell>
    <!-- 模板 -->

        <!-- 通用错误 -->
        <van-empty image="error" description="描述文字" />
        <!-- 网络错误 -->
        <van-empty image="network" description="描述文字" />
        <!-- 搜索提示 -->
        <van-empty image="search" description="描述文字" />
        <p style="margin-left: 10px">用戶檔案</p>
    <van-form @submit="onSubmit">
        <van-cell-group class="van">
            <van-cell title="檔案來源" class="van">
                <van-radio-group v-model="userinfoselect" direction="horizontal" style="display: flex;">
                    <van-radio name="1" @click="changeway1" class="van">從資料庫中取得</van-radio>
                    <van-radio name="2" @click="changeway2" class="van">新建用戶檔案</van-radio>

                </van-radio-group>
            </van-cell>

            <van-field
                    v-model="form.user_id"
                    center
                    clearable
                    label="手機號碼"
                    placeholder="請輸入手機號碼"
                    v-if="queryvisual === 'true'"
                    class="van"

            >
                <template #button>
                    <van-button size="small" type="primary" @click="getUser" >立即查詢</van-button>
                </template>
            </van-field>
            <div v-if="visual === 'false' ">
                <P>用戶檔案</P>
                <van-field label="姓名" v-model="userinfo.user_name" class="van">
                </van-field>
                <van-field label="年龄" v-model="userinfo.user_age" class="van">
                </van-field>

                <van-field name="user_gender" label="性別">
                    <template #input>
                        <van-radio-group v-model="user_gender" direction="horizontal">
                            <van-radio :name="1">男性</van-radio>
                            <van-radio :name="0">女性</van-radio>
                        </van-radio-group>
                    </template>
                </van-field>


                <van-field label="電話" v-model="userinfo.user_id" class="van">
                </van-field>
                <van-field label="住址" v-model="userinfo.user_address" class="van">
                </van-field>
            </div>
        </van-cell-group>
    <P>題目</P>

    <van-cell-group>
        <van-cell title="教育程度" >
            <van-radio-group v-model="educationlv" direction="horizontal" style="display: flex;">
                <van-radio name="3">國中及以上</van-radio>
                <van-radio name="2">國小</van-radio>
                <van-radio name="1">未受教育</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="1：今年是哪一年" >
            <van-radio-group v-model="q1" direction="horizontal" style="display: flex;">
                <van-radio name="0">錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="2：現在是是什麼季節？" >
            <van-radio-group v-model="q2" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="3：今天是幾號？" >
            <van-radio-group v-model="q3" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="4：今天是禮拜幾？" >
            <van-radio-group v-model="q4" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="5：現在是哪一個月份？" >
            <van-radio-group v-model="q5" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="7：我們現在是在哪一個縣，市？" >
            <van-radio-group v-model="q7" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="8：這間醫院（診所）的名稱？" >
            <van-radio-group v-model="q8" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="9：現在我們在幾樓" >
            <van-radio-group v-model="q9" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="10：這裡是哪一科？" >
            <van-radio-group v-model="q10" direction="horizontal" style="display: flex;">
                <van-radio name="1" >錯誤0</van-radio>
                <van-radio name="2">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="问题11：重複這三個名稱1：藍色，悲傷，火車" >
            <van-radio-group v-model="q11" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
                <van-radio name="2">正確2</van-radio>
                <van-radio name="3">正確3</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>

        <van-cell title="12：從100開始連續減7，一直減7直到我說停為止（每對一次一份）" style="display: flex;">
            <sum>93</sum>
            <van-radio-group v-model="q12">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
                <van-radio name="2">正確2</van-radio>
                <van-radio name="3">正確3</van-radio>
                <van-radio name="4">正確4</van-radio>
                <van-radio name="5">正確5</van-radio>
            </van-radio-group>
        </van-cell>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="13：藍色，悲傷，火車（展示約五分鐘以後，說出剛剛展示的東西，沒對一次得一分，不論順序）" >
            <van-radio-group v-model="q13" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
                <van-radio name="2">正確2</van-radio>
                <van-radio name="3">正確3</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>

        <van-cell title="14.（拿出手錶詢問）這是什麼？" >
            <van-radio-group v-model="q14" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="15.（拿出鉛筆問）這是什麼？" >
            <van-radio-group v-model="q15" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="16.請跟我唸一句話【白紙真正寫黑字】" >
            <van-radio-group v-model="q16" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="17.請跟我唸一句話【請閉上眼睛】" >
            <van-radio-group v-model="q17" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-cell title="18.請用左/右（非利手）拿這張紙（三步驟指令），對一步得一分" >
            <span>1.把他折成對半</span>
            <span>2.然後置於大腿上面</span>
            <van-radio-group v-model="q18" direction="horizontal" style="display: flex;">
                <van-radio name=0 >錯誤0</van-radio>
                <van-radio name=1>1分</van-radio>
                <van-radio name=2>2分</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-divider ></van-divider>
        <van-cell title="19.請在紙上寫一句語意完整的句子（含主詞動詞且語意完整的句子）" >
            <van-radio-group v-model="q19" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-divider ></van-divider>
        <van-divider ></van-divider>
        <van-cell title="20.在旁邊畫出一個相同的圓形（兩五邊形，交一四邊形，有兩交點則給分）" >
            <van-image
                    width="125"
                    height="75"
                    src="../img/trangle.png"
            ></van-image>
            <van-radio-group v-model="q20" direction="horizontal" style="display: flex;">
                <van-radio name="0" >錯誤0</van-radio>
                <van-radio name="1">正確1</van-radio>
            </van-radio-group>
        </van-cell>
        <van-cell V-if="danger != ''" style="">
            <div v-if="danger === 'false'" STYLE="border-radius: 10px;display: flex;justify-content: center;align-items: center;background-color: green;color: white;font-size: 20px"> {{userinfo.user_name}}該用戶認知正常，檔案已提交到數據庫</div>
            <div v-if="danger === 'true'" STYLE="border-radius: 10px;display: flex;justify-content: center;align-items: center;background-color: red;color: white;font-size: 20px"> {{userinfo.user_name}}該用戶存在認知障礙，請關注</div>
            <div v-if="danger === 'trueplus'" STYLE="border-radius: 10px;display: flex;justify-content: center;align-items: center;background-color: red;color: white;font-size: 20px"> {{userinfo.user_name}}該用戶存在重度認知障礙！！請關注</div>
        </van-cell>
    </van-cell-group>
    <div style="margin: 16px;">
        <van-button round block type="info" native-type="submit" @click="onSubmit()">提交表單</van-button>
    </div>
    </van-form>

    <van-divider>技術提供：中華醫事科技大學</van-divider>






</div>

<!-- 引入 Vue 和 Vant 的 JS 文件 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vant@2.2/lib/vant.min.js"></script>

<script>
    // 初始化 Vue 实例
    new Vue({
        el: '#app',
        data() {
            return {
                message:'',
                status:'',
                user_name:'',
                danger:'',
                educationlv:'',
                switchChecked: false,
                userinfoselect:'1',
                user_id:'',
                username: '',
                password: '',
                value:'',
                visual:'',
                organization:'',
                radio:'',
                q1:0,
                q2:0,
                q3:0,
                q4:0,
                q5:0,
                q7:0,
                q8:0,
                q9:0,
                q10:0,
                q11:0,
                q12:0,
                q13:0,
                q14:0,
                q15:0,
                q16:0,
                q17:0,
                q18:0,
                q19:0,
                q20:0,
                msg:'',
                notifytype:'',
                userinfov:'',
                user_address:'',
                queryvisual:'true',
                userinfovisual:'',
                user_gender: '',
                userinfo:{
                    user_address:'',
                    user_name:'',
                    user_age:'',
                    user_id:'',
                    user_gender: '',
                    organization:'',
                },

                form: {
                    user_id: '',
                    education:'',
                    score:0,
                    dementia:'',
                    filetime:'',

                },
            };
        },
        created(){
            //发送请求获取当前登录用户的用户名、
            axios.get('/user/getUsername.do').then((response)=>{
                this.username = response.data.data;
                axios.get('/front/getuserog.do?user_name='+this.username).then((response)=>{
                    this.organization = response.data.data.organization;
                });
            });



        },
        methods: {
            onSubmit() {
                this.userinfo.organization=this.organization;
                if (this.userinfo.user_id !=''){
                    axios.post("/front/addpatient.do",this.userinfo).then((response) => {
                        if(response.data.flag){
                            //登录成功,跳转到index.html
                            this.notifytype = 'danger';
                            this.msg = '提交用户档案成功！'
                            this.toNotify();
                        }else{
                            //失败，提示失败信息
                            this.$message.error(response.data.message);
                        }
                    });
                }

                this.form.user_id = this.userinfo.user_id
                this.form.user_age = this.userinfo.user_age
                var date=new Date();
                this.form.score=parseInt(this.q1)+parseInt(this.q2)+parseInt(this.q3)+parseInt(this.q4)+parseInt(this.q5)
                +parseInt(this.q7)+parseInt(this.q8)+parseInt(this.q9)+parseInt(this.q10)+parseInt(this.q11)
                    +parseInt(this.q12)+parseInt(this.q13)+parseInt(this.q14)+parseInt(this.q15)+parseInt(this.q16)+parseInt(this.q17)
                    +parseInt(this.q18)+parseInt(this.q19)+parseInt(this.q20)
                ;
                console.log(this.form.score
                );
                if (this.educationlv==3){
                    this.form.education='國中及以上'
                    if (this.form.score<16){
                        this.status = 'bad'
                        this.message = '重度認知障礙'
                        this.form.dementia='重度認知障礙';
                        this.danger='trueplus';
                    }else if (this.form.score<23){
                        this.status = 'bad'
                        this.message = '輕度認知障礙'
                        this.form.dementia='輕度認知障礙';
                        this.danger='true';
                    }else{
                        this.status = 'good'
                        this.message = '認知正常'
                        this.form.dementia='認知正常';
                        this.danger='false';
                    }

                }else if(this.educationlv==2){
                    this.form.education='國小'
                    if (this.form.score<20){
                        this.status = 'bad'
                        this.message = '認知功能異常'
                        this.form.dementia='認知功能異常';
                        this.danger='true';
                    }else{
                        this.status = 'good'
                        this.message = '認知正常'
                        this.form.dementia='認知正常';
                        this.danger='flase';
                    }
                }else if(this.educationlv==1){
                    this.form.education='未受教育'
                    if (this.form.score<15){
                        this.status = 'bad'
                        this.message = '認知功能異常'
                        this.form.dementia='認知功能異常';
                        this.danger='true';
                    }else{
                        this.status = 'good'
                        this.message = '認知正常'
                        this.form.dementia='認知正常';
                        this.danger='false';
                    }
                }
                console.log(this.form.dementia);
                this.form.filetime = date.toLocaleDateString();
                if (this.userinfo.user_id !='') {
                    axios.post("/front/dementiaadd.do", this.form).then((response) => {
                        if (response.data.flag) {
                            //登录成功,跳转到index.html
                            this.notifytype = 'success';
                            this.msg = '提交档案成功！'
                            window.location.href = "result.html?message="+this.message+"&status="+this.status+"&name="+this.userinfo.user_name;
                            this.toNotify();
                        } else {
                            //失败，提示失败信息
                            this.$message.error(response.data.message);
                        }
                    });
                };
            },
            getUser(){
                axios.post("/front/getuser.do?user_id="+this.form.user_id).then((response) => {
                    if(response.data.flag){
                        this.useinfovisual='false';
                        console.log(response.data.data);
                        this.userinfov = response.data.data;
                        if (this.organization===this.userinfov.organization){
                            this.userinfo=this.userinfov;
                            if(this.userinfo.user_gende===1){
                                this.user_gender="1";
                            }else{
                                this.user_gender="0";
                            }
                            console.log(this.user_gender);
                            this.visual = 'false';
                            this.notifytype = 'success';
                            this.msg = '查询用户档案成功'
                            this.toNotify();

                        }else{
                            this.visual = '';
                            this.notifytype = 'danger';
                            this.msg = '該用戶不屬於此機構，如有疑問請聯繫管理員'
                            this.toNotify();
                        }
                    }else{
                        //失败，提示失败信息
                        this.visual = '';
                        this.notifytype = 'warning';
                        this.msg = '查询失败，请检测网络情况'
                        this.toNotify();
                    }
                });


            },
            onClickLeft() {
                history.go(-1)
            },
            changeway2(){
                this.queryvisual = 'false';
                this.visual = 'false';
            },
            changeway1(){
                this.queryvisual = 'true';
            },
            toNotify() {
                this.$notify({ type: this.notifytype, message: this.msg });
            }
        },
    });
</script>
</body>
</html>